# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
*.egg-info/
.pytest_cache/

# IDE, Secrets, Temporary Screenshots, Documents & OS
.env
.env.local
frontend/config.js
*.png
!frontend/assets/icons/*.png
*.docx
*.doc
*.pdf
.idea/
.vscode/
.DS_Store
Thumbs.db
